.burger-button {
  @include reset-button;

  width: 40px;
  height: 20px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    top: 0;
    left: 0;
    background-color: var(--color-dark);
    box-shadow: 0 6px var(--color-dark), 0 12px var(--color-dark),
      0 18px var(--color-dark);
  }
}
