.cross-button {
  @include reset-button;
  @include square(40px);
  position: relative;

  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 4px;
    translate: -50%;
    background-color: var(--color-brown);
    border-radius: 50px;
  }

  &::before {
    rotate: 45deg;
  }

  &::after {
    rotate: -45deg;
  }
}
