.hero {
  color: var(--color-light);

  &-section {
    padding-left: 200px;
    padding-top: 254px;
    padding-bottom: 50px;
    background: url(../../images/hero.jpg) left/cover no-repeat;
    margin-bottom: 75px;

    @include desktop {
      padding-left: 0;
    }

    @include mobile {
      --container-padding-x: 10px;

      padding-top: 280px;
    }

    @include mobile-s {
      padding-top: 230px;
      padding-bottom: 30px;
    }
  }

  &__title {
    max-width: 790px;
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 20px;

    @include mobile {
      font-size: 40px;
    }

    @include mobile-s {
      font-size: 24px;
    }
  }

  &__descritpion {
    max-width: 560px;
    font-size: 24px;
    line-height: 1.2;

    @include mobile-s {
      font-size: 13px;
    }
  }
}
