.types-tea {
  --marginOffsetX: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow-x: hidden;

  &__section {
    @include mobile {
      --container-padding-x: 0;
    }
  }

  &__title {
    @include flui-text(40, 24);

    font-weight: 400;
    margin-bottom: 60px;

    @include desktop {
      margin-bottom: 30px;
    }

    @include mobile-s {
      margin-bottom: 0;
    }
  }

  &__list {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    column-gap: 40px;

    @include desktop {
      column-gap: 20px;
    }

    @include tablet {
      column-gap: 6px;
    }

    @include mobile {
      column-gap: 0;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-size: 24px;

    @include mobile {
      &:nth-child(odd) {
        margin-left: -29px;
      }

      &:nth-child(even) {
        margin-right: -29px;
      }

      &:nth-child(5) {
        margin-inline: 0;
      }
    }
  }
}
