@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none], [fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none], [stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Cormorant";
  src: url(/fonts/Cormorant-Regular.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Cormorant";
  src: url(/fonts/Cormorant-Light.woff2) format("woff2");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Cormorant";
  src: url(/fonts/Cormorant-LightItalic.woff2) format("woff2");
  font-style: italic;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url(/fonts/OpenSans-SemiBold.woff2) format("woff2");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url(/fonts/OpenSans-Light.woff2) format("woff2");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url(/fonts/OpenSans-LightItalic.woff2) format("woff2");
  font-style: italic;
  font-weight: 300;
  font-display: swap;
}
:root {
  --color-dark: #151618;
  --color-light: #fff;
  --color-light-alt: #f7f2ea;
  --color-light-green: #b8b58b;
  --color-brown: #754e29;
  --border: 1px solid var(--color-dark);
  --button-height: 51px;
  --container-width: 1140px;
  --container-padding-x: 20px;
  --container-padding-Y: 75px;
  --font-family-base: "Cormorant", serif;
  --font-family-alt: "Open Sans", sans-serif;
  --transition-duration: 0.2s;
}
@media (max-width: 1000px) {
  :root {
    --container-padding-Y: 60px;
  }
}
@media (max-width: 480px) {
  :root {
    --container-padding-Y: 30px;
    --container-padding-x: 10px;
  }
}
@media (max-width: 360px) {
  :root {
    --container-padding-Y: 35px;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 768px) {
  .hidden-tablet {
    display: none !important;
  }
}

@media (min-width: 769px) {
  .visible-tablet {
    display: none !important;
  }
}

body {
  font-size: clamp(16px, 1.5vw, 24px);
  font-family: var(--font-family-base);
  font-style: normal;
  line-height: 1.5;
  color: var(--color-dark);
  background-color: var(--color-light);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

.grid {
  --gridColumns: 1;
  display: grid;
  grid-template-columns: repeat(var(--gridColumns), 1fr);
}
.grid--2 {
  --gridColumns: 2;
}
.grid--3 {
  --gridColumns: 3;
}
.grid--4 {
  --gridColumns: 4;
}
.grid--5 {
  --gridColumns: 5;
}
.grid--6 {
  --gridColumns: 6;
}
.grid--7 {
  --gridColumns: 7;
}
.grid--8 {
  --gridColumns: 8;
}
.grid--9 {
  --gridColumns: 9;
}
.grid--10 {
  --gridColumns: 10;
}
.grid--11 {
  --gridColumns: 11;
}
.grid--12 {
  --gridColumns: 12;
}
.grid--2 {
  --gridColumns: 2;
}
@media (max-width: 850px) {
  .grid--2 {
    --gridColumns: 1;
  }
}
.grid--4 {
  --gridColumns: 4;
}
@media (max-width: 1000px) {
  .grid--4 {
    --gridColumns: 3;
  }
}
@media (max-width: 768px) {
  .grid--4 {
    --gridColumns: 2;
  }
}
@media (max-width: 360px) {
  .grid--4 {
    --gridColumns: 1;
  }
}
@media (max-width: 1000px) {
  .grid--4__alt {
    --gridColumns: 2;
  }
}
@media (max-width: 480px) {
  .grid--4__alt {
    --gridColumns: 1;
  }
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family-alt);
  font-size: 20px;
  font-weight: 300;
  height: var(--button-height);
  padding-block: 12px;
  padding-inline: 40px;
  background-color: var(--color-light);
  border: 1px solid var(--color-dark);
  color: inherit;
}
@media (hover: hover) {
  .button:hover {
    background-color: var(--color-brown);
    color: var(--color-light);
    transition-duration: var(--transition-duration);
  }
}
@media (hover: none) {
  .button:active {
    background-color: var(--color-brown);
    color: var(--color-light);
    transition-duration: var(--transition-duration);
  }
}

.checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
.checkbox__input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.checkbox__emulator {
  width: 10px;
  aspect-ratio: 1;
  border: 1px solid var(--color-dark);
  display: inline-block;
  transition-duration: var(--transition-duration);
  position: relative;
}
.checkbox__input:checked + .checkbox__emulator {
  background-color: var(--color-dark);
  border-color: var(--color-dark);
}
.checkbox__input:checked + .checkbox__emulator::after {
  content: "✔";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  font-size: 7px;
  color: #fff;
}

.burger-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 20px;
  position: relative;
}
.burger-button::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  top: 0;
  left: 0;
  background-color: var(--color-dark);
  box-shadow: 0 6px var(--color-dark), 0 12px var(--color-dark), 0 18px var(--color-dark);
}

.cross-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 40px;
  aspect-ratio: 1;
  position: relative;
}
.cross-button::before, .cross-button::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 4px;
  translate: -50%;
  background-color: var(--color-brown);
  border-radius: 50px;
}
.cross-button::before {
  rotate: 45deg;
}
.cross-button::after {
  rotate: -45deg;
}

.tablet-overlay {
  margin: 0;
  padding: 0;
  margin-inline: auto;
  background-color: var(--color-light);
  border: none;
  width: 360px;
}
.tablet-overlay__close-button-wrapper {
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 20px;
}
.tablet-overlay__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
  font-family: var(--font-family-base);
  font-size: 24px;
  margin-bottom: 30px;
}
.tablet-overlay__contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  padding-block: 25px;
  font-family: var(-font-family-alt);
  font-size: 18px;
  border-top: 1px solid var(--color-light-alt);
}
.tablet-overlay__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 20px;
  background-color: var(--color-light-alt);
}
.tablet-overlay__actions-list {
  display: flex;
  column-gap: 70px;
}

.section {
  margin-inline: auto;
  max-width: 1600px;
  padding-block: var(--container-padding-Y);
}

.header {
  --headerPaddingTopBlock: 60px;
  padding-block: var(--headerPaddingTopBlock);
}
@media (max-width: 1000px) {
  .header {
    --headerPaddingTopBlock: 30px;
  }
}
@media (max-width: 768px) {
  .header {
    --container-padding-x: 60px;
  }
}
@media (max-width: 480px) {
  .header {
    --container-padding-x: 10px;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  flex-shrink: 0;
}
@media (min-width: 1001px) {
  .header__logo {
    margin-top: -30px;
  }
}
@media (max-width: 768px) {
  .header__logo {
    margin-right: -80px;
  }
}
@media (min-width: 769px) {
  .header__logo {
    margin-right: 60px;
  }
}
@media (max-width: 480px) {
  .header__logo {
    margin-right: -90px;
    width: 40px;
    height: 56px;
  }
}
@media (max-width: 360px) {
  .header__logo {
    margin-right: -75px;
  }
}
.header__menu {
  font-family: var(--font-family-alt);
  font-size: 18px;
}
@media (max-width: 1000px) {
  .header__menu {
    margin-right: auto;
  }
}
.header__menu-list {
  display: flex;
  align-items: center;
  column-gap: 65px;
}
@media (max-width: 850px) {
  .header__menu-list {
    column-gap: 50px;
  }
}
.header__menu-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 30px;
  transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .header__menu-link:hover {
    color: var(--color-brown);
  }
  .header__menu-link:hover::after {
    width: 100%;
    color: currentColor;
  }
}
@media (hover: none) {
  .header__menu-link:active {
    color: var(--color-brown);
  }
  .header__menu-link:active::after {
    width: 100%;
    color: currentColor;
  }
}
.header__menu-link::after {
  position: absolute;
  content: "";
  width: 0px;
  height: 2px;
  top: 100%;
  left: 50%;
  translate: -50%;
  background-color: currentColor;
  transition-duration: inherit;
}
.header__actions-list {
  display: inline-flex;
  align-items: center;
  column-gap: 20px;
}
.header__actions-item:last-child {
  margin-left: 80px;
}
@media (hover: hover) {
  .header__actions-item:hover {
    color: var(--color-brown);
    transition-duration: var(--transition-duration);
  }
}
@media (hover: none) {
  .header__actions-item:active {
    color: var(--color-brown);
    transition-duration: var(--transition-duration);
  }
}
@media (max-width: 1000px) {
  .header__actions-item:last-child {
    margin-left: 30px;
  }
}
@media (max-width: 360px) {
  .header__actions-item:last-child {
    margin-left: 10px;
  }
}

.hero {
  color: var(--color-light);
}
.hero-section {
  padding-top: 254px;
  padding-bottom: 50px;
  background: url(../../images/hero.jpg) left/cover no-repeat;
  margin-bottom: 75px;
}
@media (max-width: 1000px) {
  .hero-section {
    margin-bottom: 60px;
  }
}
@media (max-width: 480px) {
  .hero-section {
    margin-bottom: 30px;
    padding-top: 280px;
  }
}
@media (max-width: 360px) {
  .hero-section {
    padding-top: 230px;
    padding-bottom: 30px;
    margin-bottom: 35px;
  }
}
.hero__title {
  font-size: clamp(24px, 3.75vw, 60px);
  max-width: 790px;
  line-height: 1.2;
  margin-bottom: 20px;
}
.hero__descritpion {
  font-size: clamp(13px, 1.5vw, 24px);
  max-width: 560px;
  line-height: 1.2;
}

.quote {
  --paddingInlineQuote: 0;
  display: flex;
  padding-inline: var(--paddingInlineQuote);
  max-width: 700px;
  min-width: 370px;
  position: relative;
}
@media (max-width: 768px) {
  .quote {
    width: 640px;
  }
}
@media (max-width: 480px) {
  .quote {
    width: 370px;
  }
}
.quote::after {
  position: absolute;
  content: "";
  width: 360px;
  height: 60px;
  top: 55%;
  left: 54%;
  background-color: var(--color-light-alt);
  opacity: 0.5;
  z-index: -1;
}
@media (max-width: 768px) {
  .quote::after {
    width: 270px;
    left: 57%;
  }
}
@media (max-width: 480px) {
  .quote::after {
    width: 115px;
    height: 22px;
    left: 42%;
  }
}
.quote__section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.quote__text {
  font-size: 40px;
  text-align: center;
  font-style: italic;
  font-weight: 300;
}
@media (max-width: 480px) {
  .quote__text {
    font-size: 16px;
  }
}

.types-tea {
  --marginOffsetX: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow-x: hidden;
}
@media (max-width: 480px) {
  .types-tea__section {
    --container-padding-x: 0;
  }
}
.types-tea__title {
  font-size: clamp(24px, 2.5vw, 40px);
  font-weight: 400;
  margin-bottom: 60px;
}
@media (max-width: 1000px) {
  .types-tea__title {
    margin-bottom: 30px;
  }
}
@media (max-width: 360px) {
  .types-tea__title {
    margin-bottom: 0;
  }
}
.types-tea__list {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  column-gap: 40px;
}
@media (max-width: 1000px) {
  .types-tea__list {
    column-gap: 20px;
  }
}
@media (max-width: 768px) {
  .types-tea__list {
    column-gap: 6px;
  }
}
@media (max-width: 480px) {
  .types-tea__list {
    column-gap: 0;
  }
}
.types-tea__item {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  font-size: 24px;
}
@media (max-width: 480px) {
  .types-tea__item:nth-child(odd) {
    margin-left: -29px;
  }
  .types-tea__item:nth-child(even) {
    margin-right: -29px;
  }
  .types-tea__item:nth-child(5) {
    margin-inline: 0;
  }
}

.review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 200px;
}
@media (max-width: 1000px) {
  .review {
    padding-inline: 55px;
  }
}
@media (max-width: 480px) {
  .review {
    padding-inline: 0;
  }
}
.review-section {
  background-color: var(--color-light-alt);
}
@media (max-width: 480px) {
  .review-section {
    --container-padding-x: 10px;
  }
}
.review__title {
  font-size: clamp(24px, 2.5vw, 40px);
  font-weight: 400;
  margin-bottom: 60px;
}
@media (max-width: 480px) {
  .review__title {
    margin-bottom: 40px;
  }
}
@media (max-width: 360px) {
  .review__title {
    margin-bottom: 30px;
  }
}
.review__body {
  font-family: var(--font-family-alt);
}
.review__body-list {
  column-gap: 26px;
}
@media (max-width: 768px) {
  .review__body-list {
    column-gap: 76px;
    row-gap: 30px;
  }
}
@media (max-width: 480px) {
  .review__body-list {
    column-gap: 20px;
  }
}
@media (max-width: 1000px) {
  .review__body-item:last-child {
    display: none;
  }
}
@media (max-width: 768px) {
  .review__body-item:last-child {
    display: block;
  }
}
@media (max-width: 360px) {
  .review__body-item:nth-last-child(-n+2) {
    display: none;
  }
}
.review__body_description {
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 10px;
}
.review__body-author {
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
}

.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blog__title {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 60px;
}
.blog__list {
  column-gap: 60px;
  row-gap: 40px;
  margin-bottom: 60px;
}
@media (max-width: 1200px) {
  .blog__list {
    column-gap: 20px;
    row-gap: 67px;
  }
}
@media (max-width: 930px) {
  .blog__list {
    row-gap: 20px;
  }
}
@media (max-width: 850px) {
  .blog__list {
    width: 100%;
    row-gap: 30px;
  }
}
@media (max-width: 360px) {
  .blog__list {
    margin-bottom: 30px;
  }
}
@media (max-width: 850px) {
  .blog__item:nth-child(even) {
    margin-left: auto;
  }
}
@media (max-width: 850px) and (max-width: 610px) {
  .blog__item {
    margin-inline: auto;
  }
  .blog__item:nth-child(n+3) {
    display: none;
  }
}

.blog__card {
  max-width: 770px;
  display: flex;
  column-gap: 20px;
}
@media (max-width: 610px) {
  .blog__card {
    flex-direction: column;
  }
}
.blog__card-body {
  display: flex;
  flex-direction: column;
}
.blog__card-description {
  max-width: 250px;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}
@media (max-width: 930px) {
  .blog__card-description {
    font-size: 18px;
  }
}
@media (max-width: 850px) {
  .blog__card-description {
    font-size: 24px;
  }
}
@media (max-width: 610px) {
  .blog__card-description {
    margin-bottom: auto;
  }
}
.blog__card-author, .blog__card-link {
  --fontAuthorSize: 13px;
  font-family: var(--font-family-alt);
  font-size: var(--fontAuthorSize);
  font-weight: 300;
}
@media (max-width: 930px) {
  .blog__card-author, .blog__card-link {
    --fontAuthorSize: 10px;
  }
}
@media (max-width: 850px) {
  .blog__card-author, .blog__card-link {
    --fontAuthorSize: 13px;
  }
}
@media (max-width: 610px) {
  .blog__card-author, .blog__card-link {
    margin-bottom: 10px;
  }
}
.blog__card-link {
  position: relative;
  margin-top: auto;
}
.blog__card-link::after {
  position: absolute;
  content: "";
  width: 5px;
  height: 10px;
  top: 29%;
  left: 15%;
  background: url(../../images/icons/arrow-right.svg) center/contain no-repeat;
}
.blog__card-image {
  max-width: 270px;
  flex-shrink: 0;
}
@media (max-width: 610px) {
  .blog__card-image {
    margin-bottom: 10px;
  }
}

.newsletter {
  display: flex;
  align-items: end;
  justify-content: center;
  column-gap: 40px;
}
@media (max-width: 1250px) {
  .newsletter {
    flex-direction: column;
    align-items: center;
    row-gap: 60px;
  }
}
@media (max-width: 480px) {
  .newsletter {
    row-gap: 30px;
  }
}
.newsletter-section {
  background-color: var(--color-light-alt);
}
@media (max-width: 1250px) {
  .newsletter__text {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .newsletter__text {
    padding-inline: 40px;
  }
}
@media (max-width: 480px) {
  .newsletter__text {
    padding-inline: 0;
  }
}
.newsletter__title {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 50px;
}
@media (max-width: 480px) {
  .newsletter__title {
    margin-bottom: 30px;
  }
}
@media (max-width: 360px) {
  .newsletter__title {
    font-size: 24px;
  }
}
.newsletter__descritpion {
  max-width: 780px;
  font-family: var(--font-family-alt);
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}
@media (max-width: 480px) {
  .newsletter__descritpion {
    font-size: 13px;
    line-height: 1.5;
  }
}
.newsletter__body {
  display: flex;
  margin-bottom: 10px;
}
.newsletter-imput {
  max-width: 404px;
  width: 100%;
  min-width: 205px;
  font-family: var(--font-family-alt);
  font-size: 20px;
  font-weight: 300;
  border: none;
  color: var(--color-light-green);
  border-bottom: 1px solid currentColor;
  background-color: transparent;
  margin-right: 25px;
}
.newsletter__privacy {
  display: flex;
  align-items: flex-start;
  column-gap: 10px;
  max-width: 560px;
  font-family: var(--font-family-alt);
  font-size: 13px;
  font-weight: 300;
}

.prioritise {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  row-gap: 60px;
}
@media (max-width: 480px) {
  .prioritise {
    row-gap: 30px;
  }
}
.prioritise__title {
  font-size: 40px;
  font-weight: 400;
}
@media (max-width: 360px) {
  .prioritise__title {
    font-size: 24px;
  }
}
.prioritise__list {
  row-gap: 30px;
  column-gap: 50px;
}
@media (max-width: 1000px) {
  .prioritise__list {
    column-gap: 210px;
  }
}
@media (max-width: 768px) {
  .prioritise__list {
    column-gap: 90px;
  }
}
@media (max-width: 480px) {
  .prioritise__list {
    row-gap: 50px;
  }
}
@media (max-width: 360px) {
  .prioritise__list {
    row-gap: 40px;
  }
}
.prioritise__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.prioritise__item-title {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}
.prioritise-title, .prioritise__subtitle {
  font-family: var(--font-family-alt);
}
.prioritise__subtitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
}
@media (max-width: 360px) {
  .prioritise__subtitle {
    margin-bottom: 15px;
  }
}/*# sourceMappingURL=styles.css.map */